/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  border: 1px solid black;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 90%;
	margin: 0 auto;
}

section nav {
	width: 100%;
	display: flex;
	justify-content:space-between;
	margin: 30px auto;
}

.links {
	color: gray;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 75%;
}

.logo-container {
	width: 15%;
}

/* start of Header Section */

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.left-header {
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.words {
	display: flex;
	width: 100%;
	justify-content: center;
}

h1{
	font-size: 75px;
	text-align: center;
}

.right-header {
	width: 45%;
	display: flex;
}

.button-home {
	font-size: 18px;
	padding: 5px 30px;
	border: 1px solid black;
	color: black;
	margin: 0 auto;
}

.right-header img{
	width: 60%;
}

/* Line Break */

hr {
	border: 1px solid black;
}

/* Top Section */

.top-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px;
}

.Features{
	display: flex;
	flex-wrap: wrap;
	width: 45%;
}

.About{
	display:flex;
	flex-wrap: wrap;
	width: 45%;
}

/* Middle Image */

.middle-img-container{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto 30px;
}

.middle-img {
	width: 100%;
	height: auto;
}

/* Bottom Section */

.bottom-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px;
}

.Services{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

.Product{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

.Vision{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

/* Contact Section */

.contact{
	width: 100%;
	margin: 0 auto 30px;
}

footer{
	text-align: center;
}

/* End of Index.html, Start of Services.html */

/* Top Section & Navigation the Same; Added hyperlink to logo */

/* Top-Middle Section */

.services-header-img {
	width: 100%;
	height: auto;
	margin: 0 auto 30px;
}

.services-title {
	font-size: 25px;
	text-align: center;
}

.services-section{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 30px;
}

.line-break {
	width: 100%;
	margin: 30px auto 0;
}

.line-break2 {
	width: 100%;
	margin: 0 auto 30px;
}

/* Bottom-Middle Section */

.box {
	background: #eeece8;
	display: flex;
	flex-wrap: wrap;
	width: 48%;
	height: auto;
	margin: 30px 0;
	border: 1px solid black;
	padding: 15px;
}

button {
	border-radius: 5px;
	font-size: 10px;
	width: 20%;
	height: 20%;
	margin: 15px 0;
	border: 1px solid black;
}

.row-1, .row-2, .row-3 {
	display: flex;
	justify-content: space-between;
}

/* Bottom Section */

.bottom-section {
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
}

ul {
	list-style-type: square;
	list-style-position: inside;
}

.left-side {
	display: flex;
	flex-wrap: wrap;
	width: 48%;
	align-content: space-around;
}

footer {
	text-align: center;
}

/* Start Responsiveness */

/* At 800px and below do the following: */

 @media (max-width: 800px) {
    .nav-container nav {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .logo-container {
        width: 200px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-header {
      display: block;
      width: 100%;
    }

    .button-home {
      display: flex;
      width: 25%;
    }

    .right-header {
        display: none;
    }
}